In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.metrics import accuracy_score, classification_report

In [6]:
df = pd.read_csv("preprocessed.csv")

In [7]:
df.dropna(inplace=True)

In [8]:
df.drop(columns = ['Unnamed: 0','id','qid1', 'qid2'], inplace = True)
len(df.columns)

25

In [9]:
df.columns

Index(['question1', 'question2', 'is_duplicate', 'q1_len', 'q2_len',
       'q1_wordcount', 'q2_wordcount', 'word_common', 'word_total',
       'word_share', 'cwc_min', 'cwc_max', 'csc_min', 'csc_max', 'ctw_min',
       'ctw_max', 'first_word_match', 'last_word_match', 'abs_len_diff',
       'mean_len', 'longest_substr_ratio', 'fuzz_ratio', 'fuzz_partial_ratio',
       'token_sort_ratio', 'token_set_ratio'],
      dtype='object')

In [10]:
df.head()

,question1,question2,is_duplicate,q1_len,q2_len,q1_wordcount,q2_wordcount,word_common,word_total,word_share,...,ctw_max,first_word_match,last_word_match,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0,65,56,14,12,11,23,0.48,...,0.785709,1,0,2,13.0,0.982456,93,100,93,100
1,what is the story of kohinoor kohinoor diamond,what would happen if the indian government sto...,0,46,83,8,13,4,18,0.22,...,0.307690,1,0,5,10.5,0.553191,64,72,62,81
2,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0,72,58,14,10,4,24,0.17,...,0.399996,1,0,4,12.0,0.169492,43,46,63,63
3,why am i mentally very lonely how can i solve it,find the remainder when math2324math is divide...,0,48,55,11,9,0,19,0.00,...,0.000000,0,0,2,10.0,0.040816,8,10,25,26
4,which one dissolve in water quikly sugar salt ...,which fish would survive in salt water,0,73,38,13,7,4,20,0.20,...,0.307690,1,0,6,10.0,0.153846,36,55,47,67

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(df['question1']) + list(df['question2'])

cv = CountVectorizer(max_features=300)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [12]:
temp_df1 = pd.DataFrame(q1_arr, index= df['question1'].index)
temp_df2 = pd.DataFrame(q2_arr, index= df['question2'].index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(404332, 600)

In [13]:
final_df = df.iloc[:,2:]
final_df.head()

,is_duplicate,q1_len,q2_len,q1_wordcount,q2_wordcount,word_common,word_total,word_share,cwc_min,cwc_max,...,ctw_max,first_word_match,last_word_match,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
0,0,65,56,14,12,11,23,0.48,0.999980,0.833319,...,0.785709,1,0,2,13.0,0.982456,93,100,93,100
1,0,46,83,8,13,4,18,0.22,0.666644,0.666644,...,0.307690,1,0,5,10.5,0.553191,64,72,62,81
2,0,72,58,14,10,4,24,0.17,0.333328,0.333328,...,0.399996,1,0,4,12.0,0.169492,43,46,63,63
3,0,48,55,11,9,0,19,0.00,0.000000,0.000000,...,0.000000,0,0,2,10.0,0.040816,8,10,25,26
4,0,73,38,13,7,4,20,0.20,0.199998,0.199998,...,0.307690,1,0,6,10.0,0.153846,36,55,47,67

In [14]:
final_df = pd.concat([final_df, temp_df], axis=1)
print(final_df.shape)
final_df.head()

(404332, 623)

,is_duplicate,q1_len,q2_len,q1_wordcount,q2_wordcount,word_common,word_total,word_share,cwc_min,cwc_max,...,290,291,292,293,294,295,296,297,298,299
0,0,65,56,14,12,11,23,0.48,0.999980,0.833319,...,0,0,0,0,0,0,0,0,0,0
1,0,46,83,8,13,4,18,0.22,0.666644,0.666644,...,0,0,0,1,0,0,0,0,0,0
2,0,72,58,14,10,4,24,0.17,0.333328,0.333328,...,0,0,0,0,0,0,0,0,0,0
3,0,48,55,11,9,0,19,0.00,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,0,73,38,13,7,4,20,0.20,0.199998,0.199998,...,0,0,0,1,0,0,0,0,0,0

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=1)

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.8191845870379759

In [17]:
# from xgboost import XGBClassifier
# xgb = XGBClassifier()
# xgb.fit(X_train,y_train)
# y_pred1 = xgb.predict(X_test)
# accuracy_score(y_test,y_pred1)

In [18]:
# import tensorflow
# from tensorflow import keras
# from tensorflow.keras import Sequential 
# from tensorflow.keras.layers import Dense
# model = Sequential()
# model.add(Dense(25,activation='sigmoid',input_dim=X_train.shape[1]))
# model.add(Dense(15,activation='sigmoid'))
# model.add(Dense(10,activation='sigmoid'))
# model.add(Dense(1,activation='sigmoid'))

# model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

# history = model.fit(X_train,y_train,batch_size=50,epochs=20,verbose=1,validation_split=0.2)

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Combine questions for fitting the vocabulary
questions = pd.concat([df['question1'], df['question2']], axis=0)

# Initialize TF-IDF vectorizer
tfidf = TfidfVectorizer(max_features=300)

q1_arr, q2_arr = np.vsplit(tfidf.fit_transform(questions).toarray(),2)

In [20]:
final_df = df.iloc[:,2:]
final_df.head()

final_df = pd.concat([final_df, temp_df], axis=1)
print(final_df.shape)
final_df.head()

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=1)

(404332, 623)

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.8187270456428457